body{
    background-color: rgb(9, 9, 65);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    background-color: white;
    color: rgb(9, 9, 65);
    border-radius: 1rem;
    padding: 2rem;
    max-width: 800px;
    margin: 5rem auto;
    text-align: center;
    font-size: 2rem;
}

footer{
    background-color: white;
    color: rgb(9, 9, 65);
    border-radius: 1rem;
    padding: 2rem;
    max-width: 800px;
    margin: 5rem auto;
    text-align: center;
}

li{
    list-style: none;
    width: 10%;
}

.fizz{
    background-color: #00FF00;
}

.buzz{
    background-color: #0000FF;
    color: #FFFFFF;
}

.fizzbuzz{
    background-color: #FF0000;
}

.square{
    width: 20px;
    height: 20px;
}